/*******************************
******BOOTSTRAP OVERRIDES*******
********************************/
// Colors
$primary: #000;


/********************************
********IMPORT BOOTSTRAP*********
*********************************/
@import "ember-bootstrap/bootstrap";

/*********************
********CHAT GRID**********
**********************/

#chat-menu {
	grid-area: menu;
}

#chat-channel {
	grid-area: channel;
	display: flex;
	height: 80vh;
	flex-direction: column;
}
#chat-grid {
	display: grid;
	grid-template-areas: 
		'menu menu channel channel channel channel';
	grid-template-rows: 60px auto auto 60px;
}


/*********************
*****COMPONENTS*******
**********************/

// Chat Window
.chat-window {
	height: 500px;
	background-color: #eee;
}


// Message
.message-container {
	max-height: 400px;
	overflow: scroll;
	padding-left: 0;
}


.message {
	list-style: none;
	margin: 5px 0;

}

