/*******************************
******BOOTSTRAP OVERRIDES*******
********************************/
// Colors
$primary: #000;


/********************************
********IMPORT BOOTSTRAP*********
*********************************/
@import "ember-bootstrap/bootstrap";

/*********************
********CHAT GRID**********
**********************/

#chat-menu {
	grid-area: menu;
	margin-right: 50px;
	display: inline-block;
}

#chat-channel {
	grid-area: channel;
	display: flex;
	height: 80vh;
	flex-direction: column;
	margin-right: 50px;
}
#chat-grid {
	display: grid;
	grid-template-areas: 
		'menu channel channel';
	grid-template-columns: auto 1fr 1fr;
}


/*********************
*****COMPONENTS*******
**********************/

// Chat Window
.chat-window {
	height: 500px;
	background-color: #eee;
}


// Message
.message-container {
	max-height: 400px;
	overflow: scroll;
	padding-left: 0;
}


.message {
	list-style: none;
	margin: 5px 0;
}

.message p {
	white-space: pre-wrap;
}



/*********************
*****TYPOGRAPHY*******
**********************/
h1, h2, h3, h4, h5, h6 {
	font-weight: 800;

	span {
		font-weight: 300;
	}
}





