<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<h3>Users</h3>
		{{#each @model.users as |user|}}
			{{ user.name }}
		{{/each}}<br>
		<h3>Channels</h3>
		{{#each @model.channels as |channel|}}
			<LinkTo @route="chat.channel" @model={{channel.id}}>{{ channel.name }}</LinkTo>
		{{/each}}<br>

		<br><br><br>
		<h3>Chat</h3>
		{{outlet}}
	</div>
</div>