<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<h5>Users</h5>
		{{#each @model.users as |user|}}
			{{ user.name }}
		{{/each}}<br><br>
		<h5>Channels</h5>
		{{#each @model.channels as |channel|}}
			<LinkTo @route="chat.channel" @model={{channel.id}}>{{ channel.name }}</LinkTo>
		{{/each}}<br>

		<br><br><br>
		<h5>Chat</h5>
		{{outlet}}
	</div>
</div>